

.modal form {
  margin: 0px;
}

#top-menu li {
  position: relative;
  padding-right: 7px;
}
#top-menu li .label {
  position: absolute;
  top: 1px;
  right: 0px;
  z-index: 1000;
  display: none;
}
#top-menu li:hover .label {
  display: block;
}

.row.title {

}
.row.newElt .button {
  float: right;
}
.row.datas {
  margin-top: 30px;
}
.row.datas table thead tr th {
  text-transform: uppercase;
}
.row.datas table tbody tr td.type {
  font-style: italic;
}







.block-sample {
  float: left;
  margin: 5px;
  padding: 5px;
}

table.myTable tr th, table.myTable tr td {
  vertical-align: middle !important;
}
