
.block-sample {
  float: left;
  margin: 5px;
  padding: 5px;
}

.container {
  //background: #ccc;
}

table.myTable tr th, table.myTable tr td {
  vertical-align: middle !important;
}

td.fix {
  white-space: nowrap;
}

td.fix .nav, td.fix a {
  margin: 0px;
}

